* {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}

:root {
    --bg-color: #001D37;
    --blue: #475AFF;
    --white: #ffffff;
    --circle-right-bg: #D660FF;
    --circle-top-bg: #6079FF;
    --gray-color: #626262;
    --gray-dip-color: #A2A2A2;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.main-hero {
    background: var(--bg-color);
    position: relative;
    overflow: hidden;
}

.main-hero .container {
    position: relative;
    z-index: 10;
}

.container {
    max-width: 1065px;
    margin: 0 auto;
    height: 100vh;
}

.hero-content {
    max-width: 476px;
    padding-top: 76px;
    color: var(--white);
    margin-bottom: 30px;
}

.hero-content h1 {
    font-family: "Source Sans 3", sans-serif;
    opacity: 100%;
    line-height: 97.3%;
    font-weight: bold;
    font-size: 50px;
}

.hero-content p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.btn {
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 75px;
    width: 190px;
    height: 46px;
    padding: 10px;
    margin: 5px;
}

.active {
    background-color: var(--blue);
    border: none;
}

.pet-card-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}

.pet-card {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff23;
    padding: 25px;
}

.pet-card h4 {
    color: var(--white);
    margin-top: 25px;
}

.pet-card p {
    color: var(--white);
    opacity: 75%;
    margin-top: 5px;
    margin-bottom: 30px;
    line-height: 151.8%;
}

.circle-right {
    position: absolute;
    width: 517px;
    height: 517px;
    background-color: var(--circle-right-bg);
    border-radius: 50%;
    top: 0;
    right: -250px;
    filter: blur(150px);
    opacity: .85;
    z-index: 5;
}

.circle-top {
    position: absolute;
    width: 517px;
    height: 517px;
    background-color: var(--circle-top-bg);
    border-radius: 50%;
    top: -300px;
    left: -16px;
    filter: blur(150px);
    opacity: .85;
    z-index: 5;
}

/* feature cart sections */
.feature-section {
    margin-top: 150px;
}

.feature-cart-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.feature-cart {
    display: flex;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.08);
    height: 170px;
    overflow: hidden;
}

.feature-cart img {
    height: 100%;
    width: 200px;
}

.cart-description {
    padding: 10px;
}

.cart-description h3 {
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 10px;
}

.cart-description p {
    color: var(--gray-color);
    margin-bottom: 10px;
}

.cart-description span {
    color: var(--gray-dip-color);
}